.dropdown-toggle::after {
  display:none !important;
}
.dropdown-menu{
  margin-left: -100px !important;
}
.dropdown-menu:after {
  content: '';
  position: absolute;
  left:130px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  clear: both;
}
