body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height:100%;
  min-width:320px;
  background: #f0f0f0 !important;
}

*{
  font-size:14px;
  box-sizing:border-box;
}

html{
  width:100%;
  height:100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width:100%;
  height:100%
}

h1,h2,h3,h4,h5,h6,h7 {
  margin-bottom:0 !important;
}

.hm-text-green {
  color:#0CC1A8 !important;
}

.hm-bg-green{
  background-color:#0CC1A8 !important;
}
.hm-bg-green-border{
  border:1px solid #0CC1A8 !important;
}
.hm-bg-dark {
  background-color: #001C36 !important;
}
.hm-bg-darkblue {
  background-color:#2d3e4e !important;
}
.hm-bg-lessdeepblue {
  background-color:#2a3948 !important;

}
.hm-bg-deepblue {
  background-color:#263441 !important;
}
.hm-bg-navyblue{
  background-color:#5b7cfd !important;
}

.hm-text-dark {
  color:#001C36 !important;
}

.text-position{
  text-align: left;
}

.hm-button-purple{
  border: 1px solid #9f7fd8;
}

.transition-button-color{
  background-color: #5b7cfd !important;
}

.hm-purple-text{
  color: #9f7fd8 !important;
}

.hm-break-word{
  word-break: break-all;
}

.success-text-color{
  color: #2dce89;
}

.hm-pointer-cursor{
  cursor: pointer;
}

.hm-pointer-hover:hover{
  color:#007bff !important;
}

.hm-text-ellipsis{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow:ellipsis
}

.hm-h-lg{
  height:31.5px !important;
}

.hm-h-xl{
  height:40.5px;
}
.hm-text-12{
  font-size: 12px;
}
.hm-text-14{
  font-size: 14px !important;
}

.hm-text-16{
  font-size: 16px !important;
}
.hm-header-size{
  font-size: 15px;
}
.hm-title-sub-size{
  font-size: 17px;
}
.text-main-color{
  color: #525f7f !important;
}
.button-main-background{
  background-color: #5e72e4 !important;
}
.text-purple{
  color: #5e72e4 !important;
}
.button-main-size{
  width: 90px;
  height: 39px;
}

.text-secondary-color{
  color: #8898aa !important;
}

.text-modal-color{
  color: #32325d;
}
.text-modal-title{
  font-size: 17px
}
.hm-input-height{
  height: 46px !important;
}

.hm-input-height::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aeb5bd !important;
  opacity: 1; /* Firefox */
}

.hm-input-login::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8898aa !important;
  opacity: 1; /* Firefox */
}

.hm-input-height:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #aeb5bd !important;
}

.hm-input-height::-ms-input-placeholder { /* Microsoft Edge */
  color: #aeb5bd !important;
}
.card-icon-background-red{
  width: 48px;
  height: 48px;
  background: linear-gradient(to right, #f5385a, #f55d38);
}

.card-icon-background-green{
  width: 48px;
  height: 48px;
  background: linear-gradient(to right, #2dcf8c, #2ecec9);;
}

.card-img{
  width: 18px; 
  height: 17px;   
}
.text-light-grey {
  color: #dddddc
}
.rounded-custom-top{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.rounded-custom-bottom{
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.rounded-custom{
border-radius: 6px;
}
.ajs-header{
  border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  color: #32325d;
  font-size: 17px;
  font-weight: bold;
}
.ajs-content{
  padding-left: 0% !important;
  color: #32325d;
}
.items-height{
  height: 80px;
}

.company-detail-button{
  border:1px solid #fb6240; 
  height:25px;
 width: 25px
}

.company-detail-button-sub{
 border:1px solid #5e72e4; 
 height:25px;
width: 25px
}
.primary-set-button{
    border:1px solid #5e72e4; 
    height:28px;
   width: 100px;
   background-color: white;
   color:#5e72e4; 
   border-radius: 5px;
}
.primary-set-button:hover{
 background-color:#5e72e4; 
 color: white;
 transition: 0.3s ease;
}
.font-weight-500{
  font-weight: 500 !important;
}
.avatar{
  height: 36px;
  width: 36px;
}
.pending-text-color{
  color: #f5a623
}